body {
  background-color: #254d74;
}

.yellow {
  background-color: #ffd633;
}

.blue {
  background-color: #254d74;
}

.info {
  font-family: 'Eczar', serif;
  padding-top: 11%;
}

.icon:hover {
  transform: scale(1.1);
}

h1 {
  font-family: 'Permanent Marker', cursive;
  color: #254d74;
}

body, h2 {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  color: #000;
}

body, p {
  color: #000;
  font-weight: 400;
}

body, a {
  font-family: 'Permanent Marker', cursive;
  color: #000;
  text-decoration: none;
}
